@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(fonts/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/lato.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(fonts/lato-light-italic.woff) format('woff');
}

body{
	padding-top: 20px;
	padding-bottom: 0px;
	font-family: 'Lato', sans-serif !important;
}

.icon-logo{
	height:40px;
	/*margin-top: -13px;*/
}

.navbar-wrapper .navbar{
	border-radius: 0;
}

.navbar-inverse{
	background: #221c24;
}

.navbar-brand{
	color:#ffeeaa !important;
	font-size: 3.5em;
	font-weight: 300;
	vertical-align: bottom;
	line-height: .9em;
	background-image: url(img/lumin-logo-light-two.png);
	background-repeat: no-repeat;
	background-position: 0 -63px;
	padding-left: 35px;
}

.navbar-brand:hover{
	background-position: 0 17px;
}

.nav{
	font-size: 1.3em;
}

.nav li a{
	padding: 29px;
	text-decoration: n
}

h1{
color:orange;
text-align:left;
}

.profiles{
	padding-bottom: 20px;
}

.img-profile{
	max-height: 100px;
	
}

.img-thumb{
	max-width:360px;
}

.img-thumb-md{
	max-width:500px;
}


.img-large{
	max-width:841px;
}

.stars{
	color:orange;
}

.carousel{
	margin-bottom: -20px;
}

.carousel-inner{
	background-image: url(img/bg.jpg);

}

.carousel .item {
  height: 480px;
  background-color: transparent;
}


.left.carousel-control,
.right.carousel-control{
	background-image: none;
}

.carousel-indicators{
	bottom:-40px;
}

.carousel-indicators li{
	border:solid 1px #666;
}

.carousel-indicators .active{
	background-color:#666;
}

.featurette-divider {
	/*margin: 30px 0;*/
}


p{
	font-size: 14px;
}

.marketing .col-lg-4{
	margin-bottom: 0px;
}

.marketing .text{
	text-align: left;
	padding: 0 30px;
}

.marketing .col-lg-4 p{
	margin-left: 0px;
}

.section_header {
width: 100%;
margin-bottom: 40px;
}

.section_header h3{
font-family: 'Lato', sans-serif !important;
color: #646464;
font-weight: 300;
font-style: italic;
font-size: 27px;
border-bottom: 1px solid #b3b3b3;
padding-bottom: 0px;
display: inline-block;
margin: 0;
}


footer{
	padding: 40px 0;
	margin-top: 40px;
	background-color: #777;
	color:#fff;
}

footer a{
	color:#9BCDEA;
}